client_secret = "op://Personal/cptalk-owner/client_secret"
client_id = "op://Personal/cptalk-owner/client_id"
tenant_id = "op://Personal/cptalk-owner/tenant_id"
subscription_id = "op://Personal/cptalk-owner/subscription_id"

cp_admin_password = "op://Personal/cptalk-cpadmin/password"

# create new Smart-1 Cloud tenant and see https://portal.checkpoint.com/dashboard/smart-1cloud#/config/general
cp_server        = "op://Personal/s1c-mtest2/cp_server"
cp_api_key       = "op://Personal/s1c-mtest2/cp_api_key"
cp_cloud_mgmt_id = "op://Personal/s1c-mtest2/cp_cloud_mgmt_id"

# https://gist.github.com/mkol5222/2e48e283c96fd6958583b4c828e09624 but role READER
az-reader-appid    = "op://Personal/azsp-cp-reader/az-reader-appid"
az-reader-secret   = "op://Personal/azsp-cp-reader/az-reader-secret"
az-reader-tenantid = "op://Personal/azsp-cp-reader/az-reader-tenantid"

#  curl -ipv4 ip.iol.cz/ip/
management_station_ip = "op://Personal/management_station_ip/management_station_ip"

ssh_public_key = "op://Personal/SSH Key Azure cloud labs/public key"